Options -MultiViews
RewriteEngine On

# 1. Externally redirect direct requests for .php files to extensionless URLs
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.php [NC]
RewriteRule ^ %1 [R=301,L]

# 2. If the request is for a directory or a file that actually exists, stop here.
RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# 3. Internally rewrite extensionless URLs to .php files if they exist
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]
